<div style="background-color: #F0EDE6;" class="flex flex-wrap justify-content-between px-4">
    <div>
        <a href="home">
            <img src="/assets/Isotipo_Principal.svg"  width="64" height="auto" />
        </a>
    </div>
    <div class="flex flex-wrap align-items-center">
        <a href="chat-ia" class="button-var-nav">Inicio</a>
        <a href="file-manager" class="button-var-nav">Nosotros</a>
        <a href="users" class="button-var-nav">Consultoría</a>
        <a href="dashboard" class="button-var-nav">Soluciones IA</a>
        <a href="develop" class="button-var-nav">Academia</a>
        <a href="develop" class="button-var-nav">Fintech</a>
        <a href="develop" class="button-var-nav">Comunidad</a>
    </div>
    <div class="flex flex-wrap align-items-center m-2 button-var-right" >
        Conversemos
    </div>
</div>