<div
    style="background-color: #F0EDE6;"
    class="flex justify-content-between align-items-center px-4 relative text-xl"
>
    <!-- Logo -->
    <div>
        <a href="home">
            <img
                src="/assets/Isotipo_Principal.svg"
                width="64"
                height="auto"
            />
        </a>
    </div>

    <!-- Menú escritorio -->
    <div class="hidden md:flex align-items-center">
        <a href="home" class="button-var-nav">Inicio</a>
        <a href="nosotros" class="button-var-nav">Nosotros</a>
        <a href="consultoria" class="button-var-nav">Consultoría</a>
        <a href="soluciones" class="button-var-nav">Soluciones IA</a>
        <a href="develop" class="button-var-nav">Academia</a>
        <a href="develop" class="button-var-nav">Fintech</a>
        <a href="comunidad" class="button-var-nav">Comunidad</a>
    </div>

    <!-- Botón escritorio -->
    <div class="hidden md:flex align-items-center m-2 button-var-right">
        Conversemos
    </div>

    <!-- Hamburguesa móvil -->
    <i
        class="pi md:hidden cursor-pointer"
        [ngClass]="menuOpen ? 'pi-times' : 'pi-bars'"
        style="font-size: 2.5rem"
        (click)="menuOpen = !menuOpen">
    </i>
</div>

<!-- Menú móvil -->
<div
    *ngIf="menuOpen"
    style="background-color: #F0EDE6;"
    class="md:hidden flex flex-column px-4 pb-4"
>
    <a href="home"
       class="button-var-nav">
        Inicio
    </a>

    <a href="nosotros"
       class="button-var-nav">
        Nosotros
    </a>

    <a href="users"
       class="button-var-nav">
        Consultoría
    </a>

    <a href="soluciones"
       class="button-var-nav">
        Soluciones IA
    </a>

    <a href="develop"
       class="button-var-nav">
        Academia
    </a>

    <a href="develop"
       class="button-var-nav">
        Fintech
    </a>

    <a href="comunidad"
       class="button-var-nav">
        Comunidad
    </a>

    <div class="button-var-right mt-3">
        Conversemos
    </div>
</div>