
@if (type === 'primary') {
        <div class="glass-card md:p-5 p-4 font-semibold w-full flex justify-content-between">
            <div class="flex flex-column gap-2">
                <div style="color: #480A91" class="font-bold md:inline hidden">{{ description }}</div>
                <div class="font-bold md:text-xl" style="color: #371460;">{{ title }}</div>
                <div class="opacity-30 md:text-base text-sm">{{ text }}</div>
                <div style="color: #480A91;" class="font-semibold md:flex hidden flex-row align-items-center gap-6 cursor-pointer mt-auto">
                    <div class="">Ver más</div>
                    <i class="pi pi-arrow-right"></i>
                </div>
            </div>
            <i class="pi pi-arrow-right md:hidden flex align-items-center"></i>
        </div>
}
@else {
    <div style="background-color: white;" class="md:p-6 p-4 font-semibold flex flex-column gap-4 w-full">
        <div style="background-color: #EDE5FA; color: #480A91" class="w-5rem px-3 font-bold md:text-base text-xs">{{ description }}</div>
        <div class="font-bold md:text-xl" style="color: #480A91;">{{ title }}</div>
        <div class="opacity-30 md:text-base text-sm">{{ text }}</div>
        <div style="color: #480A91;" class="font-semibold flex flex-row align-items-center gap-6 cursor-pointer mt-auto">
            <div class="">Leer</div>
            <i class="pi pi-arrow-right"></i>
        </div>
    </div>
}