
<div style="background-color: black;" class="text-white text-xl p-4 md:p-8 flex flex-wrap gap-6">
    <div  class="flex flex-column md:flex-row gap-5 md:gap-0 flex-wrap justify-content-between w-full">
        <div class="md:w-4 w-full flex flex-column gap-5">
            <div>
                <div class="text-xl font-medium">
                    KIPA Expert
                </div>
                Transformamos datos en decisiones estratégicas que generan valor excepcional para nuestros clientes.
            </div>
            <div class="text-white-alpha-60">
                <div>paola@kipa.expert · henry@kipa.expert</div>
                <div>(57) 322 383 89 27</div>
                <div>Cra. 26 No. 39A–56 · La Soledad · Bogotá</div>
            </div>
        </div>
        <div class="flex flex-wrap md:w-7 w-full text-white-alpha-60">
            <div class="w-4 flex flex-column gap-2">
                <div class="text-xs font-bold pb-2">Empresa</div>
                <div>Quiénes somos</div>
                <div>Equipo</div>
                <div>Partners</div>
                <div>Carreras</div>
            </div>
            <div class="w-4 flex flex-column gap-2">
                <div class="text-xs font-bold pb-2">Soluciones</div>
                <div>Yachai</div>
                <div>Yupana</div>
                <div>Kuska</div>
                <div>Amauta</div>
                <div>YuyayX</div>
            </div>
            <div class="w-4 flex flex-column gap-2">
                <div class="text-xs font-bold pb-2">Academia 4.0</div>
                <div>Seminarios</div>
                <div>Diplomados</div>
                <div>In-House</div>
                <div>Blog</div>
                <div>Contacto</div>
            </div>
        </div>
    </div>
    <div style="height: 60px;" class="w-full flex flex-wrap align-content-end justify-content-between border-top-2 text-white-alpha-30">
        <div>
            © 2026 Kipa Latam · Investors Group Ltda. · NIT: 900.285.292-1 · Todos los derechos reservados.
        </div>
        <div class="flex flex-wrap gap-4">
            <div>Privacidad</div>
            <div>Términos</div>
        </div>
    </div>
</div>