.client-text{
    background-color: white;
    color:black;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 2rem 0;
}

.hover-groups{
    background-color: #FFFFFF40;
}

.hover-groups:hover {
    background-color: #8FD5FD60;
    font-weight: 700;
}