<div>
    <!-- <div style="color: #371460;" class="text-8xl line-height-1">Seis formas de generar <div style="color: #480A91;">impacto</div></div> -->
    <div class="text-8xl line-height-1">
        Transformamos datos en
        <div>
            valor
        </div>
        excepcional
    </div>
    <div class="text-xl">En KIPA LATAM nos dedicamos a transformar datos en decisiones estratégicas. Nacimos como una firma de consultoría especializada en inteligencia de negocios, IA y analítica de datos. Fundada en 2019 por expertos en tecnología, finanzas y gestión empresarial con más de 20 años de experiencia. Reconocimiento internacional de la mano de Microsoft®.</div>
    <div>
        <div>
            <div class>2019</div>
            <div>Año de fundación</div>
        </div>
    </div>
</div>