<div style="background-color: #F0EDE6;">
    <!-- <div style="color: #371460;" class="text-8xl line-height-1">Seis formas de generar <div style="color: #480A91;">impacto</div></div> -->
    <div class="md:gap-7 flex flex-column md:px-8">
        <div class="md:text-7xl text-6xl line-height-1 text-center md:px-8 p-4">
            Transformamos datos en
            <span style="color: #0E6191; font-style: italic;" class="font-semibold">
                valor
            </span>
            excepcional
        </div>
        <div class="md:text-xl md:px-8 p-4">En KIPA LATAM nos dedicamos a transformar datos en decisiones estratégicas. Nacimos como una firma de consultoría especializada en inteligencia de negocios, IA y analítica de datos. Fundada en 2019 por expertos en tecnología, finanzas y gestión empresarial con más de 20 años de experiencia. Reconocimiento internacional de la mano de Microsoft®.</div>
        <div class="flex flex-wrap md:align-items-stretch justify-content-center align-content-start md:gap-0 gap-4">
            <div class="md:w-3 w-10rem text-center">
                <div class="kipa-kpi">2009</div>
                <div>Año de fundación</div>
            </div>
            <div class="md:w-3 w-10rem text-center">
                <div class="kipa-kpi">+20</div>
                <div>Años de experiencia combinada</div>
            </div>
            <div class="md:w-3 w-10rem text-center">
                <div class="kipa-kpi">+100</div>
                <div>Proyectos analíticos implementados</div>
            </div>
            <div class="md:w-3 w-10rem text-center">
                <div class="kipa-kpi">+35K</div>
                <div>Profesionales formados en LATAM</div>
            </div>
        </div>
    </div>
    <div class="flex md:flex-row flex-column md:gap-0 gap-5">
        <div class="md:w-5 md:p-8 p-4 flex flex-column md:gap-3 gap-3">
            <div style="color: #480A91;" class="font-semibold md:text-2xl text-sm">Misión</div>
            <div class="md:text-5xl text-4xl line-height-1 font-semibold">"Hacemos simple lo <span style="color: #480A91;">complejo"</span></div>
            <div class="text-xl">Impulsamos el crecimiento sostenible con decisiones inteligentes, analítica de datos, tecnología que entiende de negocios y personas con vocación de innovación y conocimiento.</div>
        </div>
        <div class="md:w-5 md:p-8 p-4 flex flex-column md:gap-3 gap-3">
            <div style="color: #480A91;" class="font-semibold md:text-2xl text-sm">Visión</div>
            <div class="md:text-5xl text-4xl line-height-1 font-semibold">"Lograremos más como <span style="color: #480A91;">equipo"</span></div>
            <div class="text-xl">Integrando tecnología que piensa, datos que guían e inteligencia artificial que fortalece el talento, automatiza los procesos y dignifica los modelos de negocio.</div>
        </div>
    </div>
    <div style="background-image: url('/assets/Elipse fondo.png'); background-position: right; background-repeat: no-repeat;">
        <div class="flex md:flex-row flex-column md:gap-0 gap-5">
<!-- inicio -->


            <div class="flex ">
                <div class="md:w-5 md:p-8 p-4 flex flex-column md:gap-3 gap-3">
                    <div style="color: #480A91; font-family:poppins; " class="font-semibold md:text-2xl text-sm">Trayectoria</div>
                    <div class="md:text-8xl text-4xl line-height-1">Impacto en todos los <span style="color: #480A91;font-family:poppins;"  class="font-bold" >sectores</span></div>
                </div>
                <div class="md:w-5 md:p-8 p-4 flex-column flex align-content-center flex-wrap">
                    <div class="align-self-start flex flex-wrap align-items-stretch gap-2 py-6">
                        <div class="align-self-start border-solid border-2 border-round-2xl p-2">Todos</div>
                        <div class="align-self-start border-solid border-2 border-round-2xl p-2">Financiero</div>
                        <div class="align-self-start border-solid border-2 border-round-2xl p-2">Financiero</div>
                        <div class="align-self-start border-solid border-2 border-round-2xl p-2">Servicios públicos </div>
                        <div class="align-self-start border-solid border-2 border-round-2xl p-2">Logística</div>
                        <div class="align-self-start border-solid border-2 border-round-2xl p-2">Consumo masivo</div>
                        <div class="align-self-start border-solid border-2 border-round-2xl p-2">Salud</div>
                        <div class="align-self-start border-solid border-2 border-round-2xl p-2">Tecnología</div>
                        <div class="align-self-start border-solid border-2 border-round-2xl p-2">Manufactura</div>
                        <div class="align-self-start border-solid border-2 border-round-2xl p-2">Auditoría</div>
                    </div>
                    
                        <div class="text-xl" >Más de 25 años de experiencia combinada impulsando decisiones inteligentes en toda Latinoamérica, desde Bogotá hasta los mercados internacionales.</div>
                </div>
            </div>
          
    
            
    
    

    
            

        </div> 
        <!-- final -->
        <div class="flex md:flex-row flex-column md:gap-0 gap-5">
            <div class="md:w-5 md:p-8 p-4 flex flex-column md:gap-3 gap-3">
                <div style="color: #480A91;" class="font-semibold md:text-2xl text-sm">Equipo</div>
                <div class="md:text-8xl text-4xl line-height-1">El talento detrás de la <span style="color: #480A91;">transformación</span></div>
            </div>
            <div class="md:w-5 md:p-8 p-4 flex flex-column md:gap-3 gap-3 md:text-4xl align-content-center" style="color: white;">
                <div>Somos un equipo multidisciplinario y apasionado.</div>
                <div>Hablamos el idioma del negocio y de la tecnología.</div>
            </div>
        </div>
        <div class="flex md:flex-row flex-wrap justify-content-center flex-column md:align-items-stretch align-content-start gap-1 md:p-8 p-4">
            <div class="md:w-17rem align-self-stretch flex align-items-center">
                <app-card-persons
                    class="md:w-17rem w-full align-self-stretch"
                    [align]=true
                    urlImg="/assets/employees/HM 2022 I.jpg"
                    name="Henry Martínez F." 
                    occupation="CEO & Co-Founder" 
                    [label]="['Estrategia','IA','Analitica']"
                    description="Economista UNAL MBA NYU -TEC Monterrey + 25 años exp."
                ></app-card-persons>
            </div>
            <div class="flex flex-wrap md:align-items-stretch align-content-start gap-1 md:w-9">
                <app-card-persons
                    class="md:w-17rem w-full"
                    urlImg="/assets/employees/Pao (2).jpg"
                    name="Paola Esquivel A." 
                    occupation="Co-Founder - Dir. de Proyectos" 
                    [label]="['Proyect.','Transfor.', 'Estrategia']"
                    description="Administradora. Poli. Granc. - MBA CESA - Javeriana +15 años exp."
                ></app-card-persons>
                <app-card-persons
                    class="md:w-17rem w-full"
                    urlImg="/assets/employees/Jair Ladino.png"
                    name="Jair Ladino" 
                    occupation="Consultor de Analítica & IA" 
                    [label]="['ML','Automat.','IA']"
                    description="Ing. Electrónico UNAL · Máster IA · + 7 años exp."
                ></app-card-persons>
                <app-card-persons
                    class="md:w-17rem w-full"
                    urlImg="/assets/employees/1.jpg"
                    name="Luis Miguel Morales" 
                    occupation="Analista de Datos y Finanzas" 
                    [label]="['Automatización','IA', 'Finanzas']"
                    description="Contador Público UPTC-Autom. & IA- + 8 años exp."
                ></app-card-persons>
                <app-card-persons
                    class="md:w-17rem w-full"
                    urlImg="/assets/employees/DSC01637 II.JPG"
                    name="Nicolás Díaz B." 
                    occupation="Consultor de Analítica & IA" 
                    [label]="['Python','DAX','IA']"
                    description="Administración UNAL · + 5 años exp."
                ></app-card-persons>
                <app-card-persons
                    class="md:w-17rem w-full"
                    urlImg="/assets/employees/DSC01860 1.JPG"
                    name="Paula Sofía Prieto R." 
                    occupation="Analista de Datos y Proyectos" 
                    [label]="['Automat.','Finanzas','Transfor.']"
                    description="Administradora - UNAL +2 años exp"
                ></app-card-persons>
                <app-card-persons
                    class="md:w-17rem w-full"
                    urlImg="/assets/employees/DSC01775 I 1.JPG"
                    name="Harold Jiménez C." 
                    occupation="Desarrollador Full Stack" 
                    [label]="['Frontend','Backend', 'Software']"
                    description="Ing. Electrónico - ECCI - Des. Software +7 años exp."
                ></app-card-persons>
            </div>
        </div>
    </div>
    <div style="background-image: url('assets/Background Morado.png'); background-size: cover;">
        <div class="kipa-title md:p-8 p-6 line-height-1">
            Los principios que guian todo lo que hacemos
        </div>
        <div class="flex md:row p-8 md:flex-nowrap flex-wrap justify-content-center">
            <div class="kipa-number text-center line-height-1">01</div>
            <div style="color: white;" class="text-6xl md:inline hidden font-bold md:px-8">Usamos los datos para entender, anticipar y tomar decisiones estratégicas alineadas al negocio.</div>
        </div>
    </div>
</div>